@import '../../styles/settings.scss';
@import '../Container/Container.module.scss';

.nav {
    background-color: darken($color-dark, 3%);
    display: flex;
}

.a {
    color: white;
    text-decoration: none;
}

.ul {
    list-style-type: none;
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.i {
    font-size: 24px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}